<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title || 'Simple Server'
    link(rel="icon", type="image/png" href="/images/favicon.png")
    // stylesheets
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    // contents
    block content
    // javascripts
    block scripts
      script(type="text/javascript", src="javascripts/script.js")
